<div class="split left">
    <div class="centered">
        <div class="center column ">
            <h1 class="head" style="margin-top: 15%;">Hey, Rocketeer, what are your coordinates?</h1>
            <form>
                <input type="text" id="fname" name="fname" value="          First Name">
                <br>
                <br>
                <br>
                <input type="text" id="lname" name="lname" value="          Last Mame">
                <br>
                <br>
                <br>
                <input type="text" id="email" name="email" value="          E Mail">
                <br>
                <br>
                <br>
                <input type="text" id="number" name="number" value="          +995 5_ _ _ _">
                <br>
                <br>
                <br>
            </form>

        </div>
    </div>
</div>

<div class="split right">
    <div class="centered">
        <div class="center column ">
            <h1 class="head">Redberry Origins</h1>
            <p class="text">You watch “What? Where? When?” Yeah. Our founders used to play it. That’s where they got a question about a famous American author and screenwriter Ray Bradbury. Albeit, our CEO Gaga Darsalia forgot the exact name and he answered Ray Redberry.
                And at that moment, a name for a yet to be born company was inspired - Redberry 😇</p>

        </div>
    </div>
</div>